<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./vue.js"></script>
  </head>
  <style>
    .black{
      background-color: black;
    
    }
    .red{
      border: 1px solid red;

    }
  </style>
  <body>

   <div class="root">
   <div v-if="n===1">Angular</div>
   <div v-else>其他</div>
   <div v-show="n===2">React</div>
   <div v-if="n==4">Vue</div>
   <div v-else-if="n==3">Vue2</div>
   <div v-else>其他2</div>
   <button @click="n++">n+1</button>
   <!-- 条件渲染:
   1.v-if
   写法:
   (1).v-if="表达式"
   (2).v-else-if="表达式"
   (3).v-else="表达式"适用于:切换频率较低的场景。特点:不展示的DOM元素直接被移除。
   注意:v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。
   2.v-show
   写法:v-show="表达式"
   适用于:切换频率较高的场景。
   特点:不展示的DOM元素未被移除,仅仅是使用样式隐藏掉
   3.备注:使用v-if的时,元素可能无法获取到,而使用v-show
   一定可以获取到。 -->
   
   </div>
  <script type="text/javascript">
    Vue.config.productionTip=false 
    new Vue({
      el:'.root',
    data:{
      n:0
    }
    })
   </script>  
  </body>

</html>
